<style>
.passage-end{
    text-align:center;
    color: #B8B8B8;
    font-size:22px;
    margin-top: 10%; 
}
/*平板电脑*/
@media screen and (min-width:600px) and (max-width:900px){
    .passage-end{
        font-size:20px;
   }
    }

/*移动端（手机端）*/
@media screen and (max-width: 600px) {
    .passage-end {
    font-size: 12px;
}
   }
</style>
 <div class="passage-end">
     -------------本文结束 <i class="fa fa-paw"></i> 感谢您的阅读-------------
    </div>
   